
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: all .2s ease;
    scrollbar-width: none;
    font-family: 'AA Stetica', sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

html, body {
    font-family: sans-serif;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
    border: none;
    background: none;
    outline: none;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    cursor: pointer;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* font */



